.g-container figure{
  border-radius: 20px;
}

.g-container figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
    z-index: 1;
  transition: 0.4s ease;
}

.g-container figure:hover img{
  transform: scale(1.08);
  border-radius: 20px;
}

.g-container{
 margin-bottom: 50px;
}

.g-container .overlay{
   position: relative;
    bottom: 80px;
    left: 35px;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
}

.g-container .overlay h4{
   margin: 0;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}

.dest-card {
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.dest-card:hover {
  transform: translateY(-6px);
}

.map-box {
  width: 100%;
  height: 200px;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


@media (max-width:768px) {

.g-container{
 margin-bottom: 0px;
 margin-top: 0px;
}

.destination-map {
  margin-top: 350px;
}
  .tour-section .tour-top-sec {
        margin-top: -30px !important;
    }
}