

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  list-style: none;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

}






/* @media (max-width: 576px) {
  .container{
  margin-right: 12px !important;
 
  }
} */